
@using WebSiteTemplete.Resources
@{
    ViewBag.Title = "MainSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MainSetting</h2>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({ selector: 'textarea' });</script>

<textarea> ...</textarea>

<table class="table table-striped">
    <tr>
        <td>Resources</td>
        <td>Student Stream</td>
        <td>Student Name</td>
        <td>Student Stream</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td id="a_@Html.Raw(item.ID)" hidden>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td id="b_@Html.Raw(item.ID)">
                @Html.DisplayFor(modelItem => item.TitleName)
            </td>
            <td id="c_@Html.Raw(item.ID)">
                @Html.DisplayFor(modelItem => item.TextTypeID)
            </td>
            <td id="d_@Html.Raw(item.ID)">
                @Html.DisplayFor(modelItem => item.products.NameAr)
            </td>
            <td id="e_@Html.Raw(item.ID)" hidden>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                <a href="#" class="btn btn-outline-warning" id="btnM @item.ID" data-toggle="modal" onclick="showUpdateModal(@item.ID)">@Resource.Edit</a> |
                <a href="#" class="btn btn-outline-warning" id="btnD @item.ID" data-toggle="modal" onclick="showDetailsModal(@item.ID)">@Resource.Details</a> |
                <a href="#" class="btn btn-outline-danger" id="btnDe @item.ID" data-toggle="modal" onclick="showDeleteModal(@item.ID)">@Resource.Delete</a>
            </td>
        </tr>
    }
</table>
